Source: ros-crystal-map-msgs
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-crystal-ament-cmake, ros-crystal-ament-lint-common, ros-crystal-nav-msgs, ros-crystal-rosidl-default-generators, ros-crystal-sensor-msgs, ros-crystal-std-msgs, ros-crystal-ros-workspace, ros-crystal-rmw-connext-cpp, ros-crystal-rmw-fastrtps-cpp, ros-crystal-rmw-implementation, ros-crystal-rmw-opensplice-cpp, ros-crystal-rosidl-typesupport-connext-c, ros-crystal-rosidl-typesupport-connext-cpp, ros-crystal-rosidl-typesupport-opensplice-c, ros-crystal-rosidl-typesupport-opensplice-cpp
Homepage: http://ros.org/wiki/map_msgs
Standards-Version: 3.9.2

Package: ros-crystal-map-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-crystal-nav-msgs, ros-crystal-rosidl-default-runtime, ros-crystal-sensor-msgs, ros-crystal-std-msgs, ros-crystal-ros-workspace
Description: This package defines messages commonly used in mapping packages.
